@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="btn btn-primary"><a class="nav-link text-dark" asp-area="" asp-controller="Destinos" asp-action="">Destinos de la base de datos</a></h1>
   
</div>
